<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body class="container">


    <form method="post" action="save">
        First Name: <input type="text" name="firstname"/>
        <button class="btn" type="submit" name="submit">Welcome</button>
    </form>


</body>
</html>
