<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <div class="container">
      
      <div class="row center-align">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <h3 class="blue-text text-darken-2">Welcome !</h3>
                <!-- Start typing here -->
                
                
                
                
                
                
                
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
<footer>
   <p class="text-center text-muted" align="center">© Copyright 2019 Turing Fusion Labs</p>
</footer>
</html>
